[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Deb Package Builder
Name[es]=Constructor de Paquetes DEB
Name[fr]=Constructeur de paquet DEB
Name[id]=Deb Package Builder
Name[ja]=Deb パッケージビルダー
Name[pl]=Budowanie Pakietów Deb
Name[pt_BR]=Construtor de Pacotes Deb
Name[pt_PT]=Construtor de pacotes Deb (Debian)
Name[ru]=Построитель Deb-пакетов
GenericName=Deb Package Builder
Comment=Builds Simple Deb Packages
Comment[es]=Construye Paquetes Deb Sencillos
Comment[fr]=Créer de simples paquets Debian
Comment[id]=Membentuk paket Deb sederhana
Comment[it]=Costruisce pacchetti DEB semplici
Comment[ja]=Deb パッケージの構築
Comment[pl]=Narzędzie do budowania pakietów Deb
Comment[pt_BR]=Constrói Pacotes Deb Isolados
Comment[pt_PT]=Constrói Pacotes Deb Simples
Comment[ru]=Создаёт простые Deb-пакеты
Exec=remsu /usr/bin/deb-package-builder
Icon=gnome-mime-application-x-deb
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System
